<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="container text-center">
    <div class="row">
      <div class="col">
   
      </div>
      <div class="col-8">

        <h2 style="font-family: 'Ubuntu Mono', monospace;">- Faculty details -</h2>

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">" Hi, <%= faculty.full_name %> !! "</h4>
          <p>

            <p class="card-text">initial: <code><%= faculty.initial_name %></code></P></p>
            <p class="card-text">Name: <code><%= faculty.full_name %></code></p>
            <p class="card-text">email: <code> <%= faculty.email %></code> </p>
            <p class="card-text">room_number: <code> <%= faculty.room_number %></code> </p>
            <p class="card-text">research_interest: <code><%= faculty.research_interest %></code> </p>
            <p class="card-text">role: <code><%= faculty.role %></code></p>
            <p class="card-text">available_status: <code> <%= faculty.available_status %></code> </p>
            <p class="card-text">type: <code><%= faculty.type %></code></p>
            <p class="card-text">bio: <code> <%= faculty.bio %></code></p>


          </p>
          <hr>
          <p class="mb-0">


            <div class="d-grid gap-4">
                
              <a href="/updateFaculty/<%=faculty.initial_name %>" class="btn btn-outline-success btn-sm">Edit</a>

            </div>
            
          </p>
        </div>

      </div>
      <div class="col">

      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>


<!-- for delete data with ajax  -->

<!-- 
  <script>

    const trashcan = document.querySelector("a.delete");

    trashcan.addEventListener('click', (e) =>{
      const endpoint =`/studentList/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'Delete'
      })
      .then((response) => {response.json()})
      .then((data) => console.log(data))
      .catch(err => console.log(err));
    })
  </script> -->
</body>
</html>