<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="container text-center">
    <div class="row">
      <div class="col">
   
      </div>
      <div class="col-8">

        <h2 style="font-family: 'Ubuntu Mono', monospace;">- Faculty details -</h2>

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">" Hi, <%= faculty.full_name %> !! "</h4>
          <p>

            <p class="card-text">initial: <P style="color: #145a32 ;"><%= faculty.initial_name %></P></p>
            <p class="card-text">Name: <%= faculty.full_name %></p>
            <p class="card-text">email: <%= faculty.email %></p>
            <p class="card-text">room_number: <%= faculty.room_number %></p>
            <p class="card-text">research_interest: <%= faculty.research_interest %></p>
            <p class="card-text">role: <%= faculty.role %></p>
            <p class="card-text">available_status: <%= faculty.available_status %></p>
            <p class="card-text">type: <%= faculty.type %></p>
            <p class="card-text">bio: <%= faculty.bio %></p>


          </p>
          <hr>
          <p class="mb-0">


            <div class="d-grid gap-4">
                
              <a href="<%= faculty.id %>" class="btn btn-outline-success btn-sm">Edit</a>
              <!-- <a href="" class="btn btn-outline-success btn-sm delete" data-doc="<%= student.id %>">Delete</a> -->


            </div>
            
          </p>
        </div>

      </div>
      <div class="col">

      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>


<!-- for delete data with ajax  -->

<!-- 
  <script>

    const trashcan = document.querySelector("a.delete");

    trashcan.addEventListener('click', (e) =>{
      const endpoint =`/studentList/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'Delete'
      })
      .then((response) => {response.json()})
      .then((data) => console.log(data))
      .catch(err => console.log(err));
    })
  </script> -->
</body>
</html>