<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="container text-center">
    <div class="row">
      <div class="col">
   
      </div>
      <div class="col-8">

        <h2 style="font-family: 'Ubuntu Mono', monospace;">- Student details -</h2>

        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">" Hi, <%= student.name %> !! "</h4>
          <p>

            <p class="card-text">ID: <aside><code><%= student.id %></code> </aside> </p>
            <p class="card-text">Name: <code><%= student.name %></code> </p>
            <p class="card-text">Department: <code></code></p>
            <p class="card-text">G-suite: <code><%= student.gsuite %></code></p>
            <p class="card-text">Attempted Credit: <code><%= student.attempted_credit %></code></p>
            <p class="card-text">Earned Credit: <code><%= student.earned_credit %></code></p>
            <p class="card-text">Attempted semester: <code><%= student.completed_semester %></code> </p>
            <p class="card-text">Current CGPA: <code><%= student.current_cgpa %></code> </p>

          </p>
          <hr>
          <p class="mb-0">


            <div class="d-grid gap-4">
                
              <a href="/updateStudent/<%= student.id %>" class="btn btn-outline-success btn-sm">Edit</a>

            </div>
            
          </p>
        </div>

      </div>
      <div class="col">

      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>


<!-- for delete data with ajax  -->

<!-- 
  <script>

    const trashcan = document.querySelector("a.delete");

    trashcan.addEventListener('click', (e) =>{
      const endpoint =`/studentList/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'Delete'
      })
      .then((response) => {response.json()})
      .then((data) => console.log(data))
      .catch(err => console.log(err));
    })
  </script> -->
</body>
</html>